<style>
  .fa-user-md:before{
    font-size: 350px;
    color: #EF424B;
    margin-left: 110px;
  }
</style>

<legend>New Provider</legend>
<div class = "jumbotron">

  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this patient from being saved:</h2>
   
      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <%= form_tag "/provider/#{@provider.id}", method: :put do %>
    <div class="col-md-6">
      <div class="add_padding">
        <div>
          <%= text_field_tag :username, nil, placeholder: "Username" %>
        </div>
        <div>
          <%= text_field_tag :facility_name, nil, placeholder: "Facility Name" %>
        </div>
        <div>
          <%= text_field_tag :address_1, nil, placeholder: "Address 1" %>
        </div>
        <div>
          <%= text_field_tag :address_2, nil, placeholder: "Address 2" %>
        </div>
        <div>
          <%= text_field_tag :city, nil, placeholder: "City" %>
        </div>
        <div>
          <%= text_field_tag :state, nil, placeholder: "State" %>
        </div>
        <div>
          <%= text_field_tag :zip, nil, placeholder: "Zip" %>
        </div>
        <div>
          <%= text_field_tag :county, nil, placeholder: "County" %>
        </div>
        <div>
          <%= text_field_tag :address_notes, nil, placeholder: "Address Notes" %>
        </div>
        <div>
          <%= text_field_tag :phone, nil, placeholder: "Phone" %>
        </div>
        <div>
          <%= text_field_tag :fax, nil, placeholder: "Fax" %>
        </div>
        <div>
          <%= text_field_tag :email, nil, placeholder: "Email" %>
        </div>
      </div>
      <div>
          <%= submit_tag "Add Provider", class: "btn btn-default" %>
      </div>
    </div>
    <div class="col-md-6">
      <i class="fa fa-user-md"></i>
    </div>
  </div>
  <% end %>
</div>