<div class = "jumbotron">
  <h2><%= @provider.facility_name %></h2>
    <div class ="row">
      <ul>
        <li>Username: <%= @provider.username %></li>
        <li>Address: <%= @provider.address_1 %> <%= @provider.address_2 %></li>
                     <%= @provider.city %>, <%= @provider.state %>  
        <li>Notes: <%= @provider.address_notes %></li>
        <li>Phone: <%= @provider.phone %></li>
        <li>Fax: <%= @provider.fax %></li>
        <li>Email: <%= @provider.email%></li>
      </ul>
    </div>

    <%= link_to "Back to list", "/provider", class: "btn btn-default" %>
    <%= link_to "Edit Provider", "/provider/#{@provider.id}/edit_provider", class: "btn btn-default" %>
    <% if admin_signed_in? || provider_signed_in? && (current_provider.id == params[:id]) %>
      <%= link_to "Delete Provider", "/provider/#{@provider.id}", {method: :delete, class: "btn btn-default" %>
    <% end %>
    
</div>