<div class="jumbotron">
  <% if @transportation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportation.errors.count, "error") %> prohibited this transportation from being saved:</h2>
   
      <ul>
      <% @transportation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>New Transportation Provider</h3>

  <%= form_tag "/transportation", method: :post do %>
    <div>
      <%= text_field_tag :company_name, nil, placeholder: "Company Name" %>
    </div>
    <div>
      <%= text_field_tag :username, nil, placeholder: "Username" %>
    </div>
    <div>
      <%= text_field_tag :address_1, nil, placeholder: "Address 1" %>
    </div>
    <div>
      <%= text_field_tag :address_2, nil, placeholder: "Address 2" %>
    </div>
    <div>
      <%= text_field_tag :city, nil, placeholder: "City" %>
    </div>
    <div>
      <%= text_field_tag :state, nil, placeholder: "State" %>
    </div>
    <div>
      <%= text_field_tag :zip, nil, placeholder: "Zip" %>
    </div>
    <div>
      <%= text_field_tag :phone, nil, placeholder: "Phone Number" %>
    </div>
    <div>
      <%= text_field_tag :email, nil, placeholder: "Email" %>
    </div>
    <div>
        <%= submit_tag "Add Transportation", class: "btn btn-default" %>
    </div>
  <% end %>
</div>