<div class = "jumbotron">
  <h2><%= @transportation.username %></h2> 
    <div class ="row">
      <ul>
        <li>Company: <%= @transportation.company_name %></li>
        <li>Address: <%= @transportation.address_1 %> <%= @transportation.address_2 %></li>
                     <%= @transportation.city %>, <%= @transportation.state %> <%= @transportation.zip %>      
        <li>Phone: <%= @transportation.phone %></li>
        <li>Email: <%= @transportation.email %></li>
      </ul>
    </div>

    <%= link_to "Back to list", "/transportation" %> 
     
</div>