<div class="jumbotron">
<h1>Kaizen Health</h1>
<h3>Improving access to healthcare for the underserved.</h3>

<%= link_to 'New Patient', patients_path, class: "btn btn-default", method: :create %>

<%= link_to 'New Transportation', transportation_path, class: "btn btn-default", method: :create %>

<%= link_to 'New Driver', drivers_path, class: "btn btn-default", method: :create %>

<%= link_to 'New Provider', provider_path, class: "btn btn-default", method: :create %>


<hr>

<%= link_to 'See All Patients', "/patient", class: "btn btn-default" %>

<%= link_to 'See All Transportation Providers', "/transportation", class: "btn btn-default" %>

<%= link_to 'See All Health Providers', "/provider", class: "btn btn-default" %>

</div>