<style>
  input{
    padding: 1px;
    width: 250px
  }
  select{
    width: 250px;
  }
  .btn{
    width: 425px;
  }
</style>

<legend>Edit Patient: <%= @patient.first_name %> <%=@patient.last_name %></legend>

<div class="jumbotron">
  <%= form_tag "/patients/#{@patient.id}", method: :patch do %>
    <h3>Basic Information</h3>
    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email, @patient.email %>
    </div>
    <div>
      <%= label_tag :username %>
      <%= text_field_tag :username, @patient.username %>
    </div>
    <div>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, @patient.first_name %>
    </div>
    <div>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, @patient.last_name %>
    </div>
    <div>
      <%= label_tag :address_1 %>
      <%= text_field_tag :address_1, @patient.address_1 %>
    </div>
    <div>
      <%= label_tag :address_2 %>
      <%= text_field_tag :address_2, @patient.address_2 if present? %>
    </div>
    <div>
      <%= label_tag :city %>
      <%= text_field_tag :city, @patient.city %>
    </div>
    <div>
      <%= label_tag :state %>
      <%= select_tag :state, options_for_select(us_states, @patient.state) %>
    </div>
    <div>
      <%= label_tag :zip %>
      <%= text_field_tag :zip, @patient.zip %>
    </div>
    <div>
      <%= label_tag :county %>
      <%= text_field_tag :county, @patient.county %>
    </div>
    <hr>
    <h3>Payment Information</h3>
    <div>
      <%= label_tag :payer %>
      <%= text_field_tag :payer, @patient.payer %>
    </div>
    <div>
      <%= label_tag "Payer Identification" %>
      <%= text_field_tag :payer_id, @patient.payer_id %>
    </div>
    <div>
      <%= label_tag :payer_state %>
      <%= select_tag :payer_state, options_for_select(us_states, @patient.payer_state) %>
    </div>
    <div>
      <%= label_tag :transportation_type %>
      <%= select_tag :transportation_type, options_for_select(["Car", "Van", "Ambulance"], @patient.transportation_type) %>
    </div>
    <hr>
    <h3>Contact Information</h3>
    <div>
      <%= label_tag :phone %>
      <%= text_field_tag :phone, @patient.phone %>
    </div>
    <div>
      <%= label_tag "Check box to enable phone call alerts" %>
      <%= check_box_tag :alert_call, @patient.alert_call %>
    </div>
    <div>
      <%= label_tag "Check box to enable sms alerts" %>
      <%= check_box_tag :alert_sms, @patient.alert_sms %>
    </div>
    <div>
      <%= label_tag "Check box to enable email alerts" %>
      <%= check_box_tag :alert_sms, @patient.alert_email %>
    </div>
    <div>
      <%= label_tag :alternate_contact_name %>
      <%= text_field_tag :alternate_contact_name, @patient.alternate_contact_name %>
    </div>
    <div>
      <%= label_tag :alternate_contact_phone %>
      <%= text_field_tag :alternate_contact_phone, @patient.alternate_contact_phone %>
    </div>
    <div>
      <%= label_tag :alternate_contact_email %>
      <%= text_field_tag :alternate_contact_email, @patient.alternate_contact_email %>
    </div>
    <div>
      <%= label_tag "Check box to enable alternate contact phone call alerts:" %>
      <%= check_box_tag :alert_alternate_call, @patient.alert_alternate_call %>
    </div>
    <div>
      <%= label_tag "Check box to enable alternate contact sms alerts:" %>
      <%= check_box_tag :alert_alternate_sms, @patient.alert_alternate_sms %>
    </div>
    <div>
      <%= label_tag "Check box to enable alternate contact email alerts:" %>
      <%= check_box_tag :alert_alternate_email, @patient.alert_alternate_email %>
    </div>
    <hr>
    <%= submit_tag "Update Patient", class: "btn btn-default" %>
  <% end %>
</div>