<legend><h3>List of Patients</h3></legend>
<div class = "jumbotron">
  <%= form_tag "/patients", method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Patients by Name" %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>
  <% @patients.each do |patient| %>
    <div class ="row">
      <ul>
        <li>Name:<a href = "<%= patient_path(patient) %>" > <%= patient.full_name %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/", class: "btn btn-default" %>

</div>
