<div class = "jumbotron">
  <%= form_tag "/patient", method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Patients by Name" %>
    <%= submit_tag "Search" %>
  <% end %>
  <h1>List of Patients</h1>
  <% @patients.each do |patient| %>
    <div class ="row">
      <ul>
        <li>Name:<a href = "/patient/<%= patient.id %>" > <%= patient.full_name %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/" %>

</div>
