<style>
  #center_submit{
    text-align: center;
    margin-top: 30px;
  }
  .add_padding{
    text-align: center;
  }
  .select_padding{
    padding: 10px;
  }
  #new_patient_header{
    text-align: center;
    padding-bottom: 30px;
  }
</style>

<div class = "jumbotron">

  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
   
      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="new_patient_header">
    <h2>New Patient</h2>
  </div>
  <div class="row">
   <%= form_tag "/patients", method: :post do %>
    <div class="col-md-4">
      <div class="add_padding">
        <div>
          <%= text_field_tag :first_name, nil, placeholder: "First Name" %>
        </div>
        <div>
          <%= text_field_tag :last_name, nil, placeholder: "Last Name" %>
        </div>
        <div>
          <%= text_field_tag :address_1, nil, placeholder: "Address 1" %>
        </div>
        <div>
          <%= text_field_tag :address_2, nil, placeholder: "Address 2" %>
        </div>
        <div>
          <%= text_field_tag :city, nil, placeholder: "City" %>
        </div>
        <div>
          <%= text_field_tag :state, nil, placeholder: "State" %>
        </div>
        <div>
          <%= text_field_tag :county, nil, placeholder: "County" %>
        </div>
      </div>
    </div>
    
    <div class="add_padding">
      <div class="col-md-4">
        <div>
          <%= text_field_tag :payer, nil, placeholder: "Payer" %>
        </div>
         <div>
          <%= text_field_tag :payer_id, nil, placeholder: "Payer ID" %>
        </div>
        <div>
          <%= text_field_tag :payer_state, nil, placeholder: "Payer State" %>
        </div>
        <div class="select_padding">
          <h5>Transportation Type</h5>
          <%= select_tag :transportation_type, "<option>Car</option><option>Van</option><option>Ambulance</option>".html_safe %>
        </div>
      </div>
    </div>

    <div class="add_padding">
      <div class="col-md-4">
        <div>
          <%= text_field_tag :phone, nil, placeholder: "Phone" %>
        </div>
        <div>
          <%= text_field_tag :email, nil, placeholder: "Email" %>
        </div>
        <div class="select_padding">
          <h5>Reminder Preference</h5>
           <%= select_tag :transportation_type, "<option>SMS</option><option>Phone Call</option><option>Email</option>".html_safe %>
        </div>
        <div>
          <%= text_field_tag :alternate_contact_name, nil, placeholder: "Alternate Contact Name" %>
        </div>
        <div>
          <%= text_field_tag :alternate_contact_phone, nil, placeholder: "Alternate Contact Phone" %>
        </div>
        <div>
          <%= text_field_tag :alternate_contact_email, nil, placeholder: "Alternate Contact Email" %>
        </div>
        <div class="select_padding">
          <h5>Reminder Preference</h5>
           <%= select_tag :transportation_type, "<option>SMS</option><option>Phone Call</option><option>Email</option>".html_safe %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="center_submit">
    <div>
        <%= submit_tag "Add Patient", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>