<style>
  #center_submit{
    text-align: center;
    margin-top: 30px;
  }
  .add_padding{
    text-align: center;
  }
  .select_padding{
    padding: 10px;
  }
  #new_patient_header{
    text-align: center;
    padding-bottom: 30px;
  }
</style>

<div class = "jumbotron">

  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="new_patient_header">
    <h2>New Patient</h2>
  </div>
  <div class="row">
   <%= form_for @patient, method: :post do |f| %>
    <div class="col-md-4">
      <div class="add_padding">
        <div>
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div>
          <%= f.text_field :address_1, placeholder: "Address 1" %>
        </div>
        <div>
          <%= f.text_field :address_2, placeholder: "Address 2" %>
        </div>
        <div>
          <%= f.text_field :city, placeholder: "City" %>
        </div>
        <div>
          <%= f.text_field :state, placeholder: "State" %>
        </div>
        <div>
          <%= f.text_field :county, placeholder: "County" %>
        </div>
      </div>
    </div>

    <div class="add_padding">
      <div class="col-md-4">
        <div>
          <%= f.text_field :payer, placeholder: "Payer" %>
        </div>
         <div>
          <%= f.text_field :payer_id, placeholder: "Payer ID" %>
        </div>
        <div>
          <%= f.text_field :payer_state, placeholder: "Payer State" %>
        </div>
        <div class="select_padding">
          <h5>Transportation Type</h5>
          <%= f.select :transportation_type, "<option>Car</option><option>Van</option><option>Ambulance</option>".html_safe %>
        </div>
      </div>
    </div>

    <div class="add_padding">
      <div class="col-md-4">
        <div>
          <%= f.text_field :phone, placeholder: "Phone" %>
        </div>
        <div>
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div class="select_padding">
          <h5>Reminder Preference</h5>
           <%= f.select :transportation_type, "<option>SMS</option><option>Phone Call</option><option>Email</option>".html_safe %>
        </div>
        <div>
          <%= f.text_field :alternate_contact_name, placeholder: "Alternate Contact Name" %>
        </div>
        <div>
          <%= f.text_field :alternate_contact_phone, placeholder: "Alternate Contact Phone" %>
        </div>
        <div>
          <%= f.text_field :alternate_contact_email, placeholder: "Alternate Contact Email" %>
        </div>
        <div class="select_padding">
          <h5>Reminder Preference</h5>
           <%= f.select :transportation_type, "<option>SMS</option><option>Phone Call</option><option>Email</option>".html_safe %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="center_submit">
    <div>
        <%= f.submit "Add Patient", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>