<legend><h3><%= @patient.full_name %></h3></legend>
<div class = "jumbotron">
    <div class ="row">
      <ul>
        <li>Username: <%= @patient.username %></li>
        <li>Address: <%= @patient.address_1 %> <%= @patient.address_2 %></li>
                     <%= @patient.city %>, <%= @patient.state %>  
        <li>Notes: <%= @patient.address_notes %></li>
        <li>Phone: <%= @patient.phone %></li>
        <li>Email: <%= @patient.email%></li>
        <li>Payer: <%= @patient.payer%></li>
        <li>Payer State: <%= @patient.payer_state%></li>
        <li>Payer ID: <%= @patient.payer_id%></li>
        <li>Transportation Type: <%= @patient.transportation_type %></li>
        <li>Assistance Notes: <%= @patient.assistance_notes %></li>
        <li>Comments: <%= @patient.comments %></li>
      </ul>
    </div>
    <%= link_to "Schedule a Ride", "/patient/#{@patient.id}/schedule", class: "btn btn-default" %>
    <%= link_to "See All Rides", "/ride", class: "btn btn-default" %>
    <br>
    <br>
    <%= link_to "Back to list", "/patient", class: "btn btn-default" %>
    <%= link_to "Edit Patient", "/patient/#{@patient.id}/edit_patient", class: "btn btn-default" %>
    <% if admin_signed_in? || patient_signed_in? && (current_patient.id == params[:id]) %>
      <%= link_to "Delete Patient", "/patient/#{@patient.id}", {method: :delete, class: "btn btn-default"} %>
    <% end %>
   
</div>