<legend><h3><%= @driver.username %></h3></legend>
<div class = "jumbotron">
    <div class ="row">
      <ul>
        <li>Address: <%= @driver.address_1 %> <%= @driver.address_2 %></li>
                     <%= @driver.city %>, <%= @driver.state %>  
        <li>Phone: <%= @driver.phone %></li>
        <li>Email: <%= @driver.email%></li>
      </ul>
    </div>

    <%= link_to "See All Rides", "/ride", class: "btn btn-default" %>
    <br>
    <br>
    <% if admin_signed_in? || transportation_signed_in? && (current_transportation.id == @driver.transport_id) %>
      <%= link_to "Edit driver", "/driver/#{@driver.id}/edit_driver", class: "btn btn-default" %>
      <%= link_to "Delete Driver", "/driver/#{@driver.id}", {method: :delete, class: "btn btn-default"} %>
    <% end %>
    <%= link_to "Back to list", "/drivers", class: "btn btn-default" %>
    
</div>