<legend>Ride No. <%= @ride.id %></legend>
<div class = "jumbotron">
<h3>Patient: <%= @ride.patient.first_name %> <%= @ride.patient.last_name %></h3>
<p>Appointment: <%= @ride.appointment_time.strftime("%m/%d/%Y at %I:%M%p") %></p>
<p>Ride Type: <%= @ride.ride_type %></p>
<p>Expected Mileage: <%= @ride.expected_mileage %></p>
<br>
<%= link_to "See All Rides", "/ride", class: "btn btn-default" %>
<%= link_to "Patient Information", "/patient/#{@ride.patient_id}", class: "btn btn-default" %>
<% if admin_signed_in? || provider_signed_in? && (current_provider.id == params[:id]) %>
  <%= link_to "Edit Ride", "/ride/#{@ride.id}/edit", class: "btn btn-default" %>
  <%= link_to "Delete Ride", "/ride/#{@ride.id}", {method: :delete, class: "btn btn-default"} %>
<% end %>
</div>